@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #333333;
  --color-secondary: #555555;
  --color-base-200: #0a66c2;
}


.font-one {
  font-family: "SUSE Mono Variable", monospace;
  font-weight: 400;
  font-style: normal;
}

.font-two {
  font-family: Montserrat;
  font-weight: 600;
}
.font-three {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pill-active {
  color: white;
  background-color: #A8A29E;

}


@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 6s linear infinite;
}



